In [1]:
import pandas as pd

game_csv = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(game_csv)
purchase_data.head()
final_player_count = len(purchase_data["SN"].unique())

In [2]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [3]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels)

age_data = purchase_data.groupby("Age Group")

age_count = age_data.nunique()["SN"]

age_pct = round(age_count / final_player_count *100)

age_summary_df = pd.DataFrame({"Total Count": age_count,
                           "Percentage of Players": age_pct})
age_summary_df

           Total Count  Percentage of Players
Age Group
<10                 17                    3.0
10-14               22                    4.0
15-19              107                   19.0
20-24              258                   45.0
25-29               77                   13.0
30-34               52                    9.0
35-39               31                    5.0
40+                 12                    2.0

In [4]:
#Purchasing Analysis by Age

In [5]:
age_purchases = age_data["Purchase ID"].count()

age_price_avg = round(age_data["Price"].mean(),2)

age_price_total = round(age_data["Price"].sum(),2)

avg_per_age = round(age_price_total / age_count,2)

age_summary_prices = pd.DataFrame({"Purchase Count": age_purchases,
                           "Total Purchase Value": age_price_total,
                           "Average Purchase Price": age_price_avg,
                           "Avg Total Purchase per Person": avg_per_age})
age_summary_prices

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Purchase per Person
Age Group,,,,
<10,23,77.13,3.35,4.54
10-14,28,82.78,2.96,3.76
15-19,136,412.89,3.04,3.86
20-24,365,1114.06,3.05,4.32
25-29,101,293.00,2.90,3.81
30-34,73,214.00,2.93,4.12
35-39,41,147.67,3.60,4.76
40+,13,38.24,2.94,3.19