In [1]:
import pandas as pd

game_csv = "Resources/purchase_data.csv"


purchase_data = pd.read_csv(game_csv)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
final_player_count = len(purchase_data["SN"].unique())

gender_data = purchase_data.groupby("Gender")

gender_count = gender_data.nunique()["SN"]

player_pct = gender_count / final_player_count *100
player_pct = round(player_pct,2)

In [3]:
gender_table = pd.DataFrame({"Percentage of Players": player_pct,"Total Count": gender_count})
gender_table

                       Percentage of Players  Total Count
Gender
Female                                 14.06           81
Male                                   84.03          484
Other / Non-Disclosed                   1.91           11

In [4]:
#Purchasing Analysis by Gender

In [5]:
gender_purchases = gender_data["Purchase ID"].count()

gender_price_avg = round(gender_data["Price"].mean(),2)

gender_price_total = round(gender_data["Price"].sum(),2)

avg_per_gender = round(gender_price_total / gender_count,2)

In [6]:
gender_summary_df = pd.DataFrame({"Purchase Count": gender_purchases,
                           "Total Purchase Value": gender_price_total,
                           "Average Purchase Price": gender_price_avg,
                           "Avg Total Purchase per Person": avg_per_gender})
gender_summary_df

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,113,361.94,3.20,4.47
Male,652,1967.64,3.02,4.07
Other / Non-Disclosed,15,50.19,3.35,4.56