In [5]:
import pandas as pd

game_csv = "Resources/purchase_data.csv"


purchase_data = pd.read_csv(game_csv)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
items = purchase_data[["Item ID", "Item Name", "Price"]]

item_data = items.groupby(["Item ID","Item Name"])

item_count = item_data["Price"].count()

item_value = round(item_data["Price"].sum(),2) 

item_price = round(item_value/item_count,2)

popular_item_df = pd.DataFrame({"Purchase Count": item_count, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":item_value})

most_pop = popular_item_df.sort_values(["Purchase Count"], ascending=False)
most_pop.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

In [7]:
#Most Profitable Items

In [8]:
most_pop = popular_item_df.sort_values(["Total Purchase Value"], ascending=False)
most_pop.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80